@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fredoka One');

:root {
    --cor-primaria: #ff80b5;
    --cor-background: #f7c9de;
    --cor-texto: #a5a5a5;
    --fonte-texto: "Fredoka", sans-serif;
    --fonte-titulo: "Fredoka One", sans-serif;
}

body {
    font-family: var(--fonte-texto);
    text-align: justify;
    background: var(--cor-background);

}
.inner{
    background: white;
    width: 80%;
    margin-left: 10%;
}
header {
    background: white;
    margin: 8rem;
    margin-bottom: 0;
}

.cor{
    color: var(--cor-primaria);
}

.cabecalho__banner {
    width: 70%;
    margin-left:15%;
    position: relative;
    
}

.menu {
    background: var(--cor-primaria);
    line-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    margin-left: 1%;
    
}

.menu__item {
    display: inline;
    padding: 2rem;
    justify-content: space-around;
}


.menu_link {
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}


.menu_link:hover{
    color: #fcc6dd;
}

/* menu em celular */

/* @media(max-width: 600px) {
    .menu {
        background: var(--cor-primaria);
        display: flex;
    }

    .menu_link {
        color: aliceblue;
        text-decoration: none;
        font-size: 1.5rem;

    }
} */

.about {
    background: white;
    margin: 8rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    display: flex;
}

h6 {
    color: var(--cor-primaria);
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--fonte-titulo);
    text-align: center;
}

.about__texto-paragrafo {
    flex-shrink:1;
    font-size: 1.2rem;
    padding: 1.5rem;
    color: var(--cor-texto);

}

.about__imagem{
    display: block;
    line-height: 0;
    width: 320px;
    height: 320px;
    position: relative;
}

.redes-sociais{
    width: 30%;
}

.kirby{
    position: relative;
    width: 320px;
}

.redes-sociais-imagens {
    display: inline;
    max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
    padding: 1rem;
}

.redes-sociais-imagens:hover {
    opacity: 0.3;
    cursor: pointer
}

.redes-sociais-icons {
    text-align: center;
}

.rodape {
    background: white;
    margin: 8rem;
    margin-top: 0;
    color: var(--cor-texto);
    text-align: center;
    padding: 2rem;
    font-size: 0.8rem;

}