@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fredoka One');

:root {
    --cor-primaria: #ff80b5;
    --cor-background: #f7c9de;
    --cor-texto: #a5a5a5;
    --fonte-texto: "Fredoka", sans-serif;
    --fonte-titulo: "Fredoka One", sans-serif;
}

body {
    font-family: var(--fonte-texto);
    text-align: justify;
    background: var(--cor-background);

}

.inner{
    background: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 5rem;
}

header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    /* background-color:  rgba(23, 23, 23, .4); */
}

.cabecalho__banner {
    width: 70%;
    margin-left:7%;
    position: relative;
    background-color: white;
    /* display: none; */
    
}
/* section{
    width: 80vh;
    align-items: center;
} */
.overlays-design {
    max-width: 100%;
    height: auto;
}


.menu-hamburger{
    width: 95%;

    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
}

.menu-hamburguer-elements{
    display: flex;
    width: 80%;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
}

.menu-hamburguer-elements li{
    list-style: none;
    font-size: 1.4rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    list-style: none;
}

.menu-hamburguer-elements a{
    color: aliceblue;
    text-decoration: none;
}

.menu-hamburguer-elements a:hover{
    color: #fcc6dd;
}

/* .menu-hamburguer {
    background: var(--cor-primaria);
    line-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    margin-left: 1%;
    
}

.menu__item {
    display: inline;
    padding: 2rem;
    justify-content: space-around;
}


.menu_link {
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}


.menu_link:hover{
    color: #fcc6dd;
} */

/* BOTÃO MENU HAMBURGUER */
.menu {
    background-color: var(--cor-primaria);
    width: 60px;
    height: 60px;
    margin: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
  
.hamburguer {
    position: relative;
    display: block;
    background: #fff;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}
  
.hamburguer:before,
.hamburguer:after {
    background: #ffff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}
  
.hamburguer:before {
    top: -10px;
}
  
.hamburguer:after {
    bottom: -10px;
}
  
input {
    display: none;
}

/* rotação dos elementos do span */
input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}
  
input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ .menu-hamburguer-elements{
    left: 0;
}

/* ATIVANDO O BOTÃO HAMBURGUER QUANDO O TAMANHO DA TELA ATINGIR 600PX */
@media (max-width: 735px){
    
    /* header{
        height: 20%;
    } */

    .menu-hamburguer-elements a:hover{
        color: #fcc6dd;
    }
    
    .menu-hamburger{
        margin: 16px;
        order: -1;
        display: flex;
        width: 15%;
        flex-direction: column;
        align-self: flex-start;
        overflow: auto;
        z-index: 1;
        color: white
    }

    .menu-hamburguer-elements{
        width: 60%;
        height: 100%;
        background-color: var(--cor-primaria);
        position: fixed;
        left: -60%;
        top: 0;
    
        transition: left cubic-bezier(1,0,0,1) .8s;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
        padding-top: 15vh;
    
        z-index: -1;
    }

    .menu{
        display: flex;
        height: 60px;
        width: 60px;
        
    }

}

h6 {
    color: var(--cor-primaria);
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--fonte-titulo);
    text-align: center;
}

.overlays-design {
    background: white;
    /* margin: 8rem; */
    padding: 1rem;
    margin-left: 2%;
    /* display: flex; */
}

/* .overlays-design img {
    width: 90%;
    /* max-width: 1440px;
    max-height: 517px;
    width: auto;
    height: auto;
    padding-top: 1rem;
    } */
 



.overlays-design__items {
    font-size: 1.8rem;
    text-align: justify;
    /* padding: 1rem; */
    color: var(--cor-texto);
    text-wrap: wrap;


}

.overlay-design__imagem {
    width: 90%;
    margin: 1rem;
    /* height: auto; */
    object-fit: cover;
}

.overlays-design__texto {
    font-size: 1.8rem;
    color: var(--cor-texto);
}

.overlays-design__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin: 14px;

}

.overlays-design__tier {
    flex: 1 1 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* border: #ff80b5 solid 1px; */
    border-radius: 15px;
}

h3 {
    background: var(--cor-primaria);
    font-size: 2.5rem;
    font-weight: 500;
    font-family: var(--fonte-titulo);
    text-align: center;
    color: white;
    border-radius: 50px;
    padding: 1rem;
    width: 95%;
}

.cenario {
    display: flex;
    margin: 16px;
    width: 90vw;
}
    /* max-width: 95%;
    height: auto; */
    /* width: 70%;
    margin: 1rem;
} */

.cenario__imagem{
    width: 90%;
    margin: 1rem;
    /* height: auto; */
    object-fit: cover;
}

.emotes__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;

}

.emotes__cards {
    display: flex;
    flex-direction: column;
}

.emotes__items {
    color: var(--cor-primaria);
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--fonte-titulo);
    text-align: justify;
    padding: 1rem 0;
}


/* --------- ILUSTRAÇOES ---------- */


.ilustracoes__items {
    color: var(--cor-primaria);
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--fonte-titulo);
    text-align: justify;
    padding: 1rem 0;


}

.ilustracoes__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.ilustracoes__cards {
    display: flex;
    flex-direction: column;
}

.ilustracao__imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilustracao__imagem {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;

}

@media only screen and (max-width: 480px) {
    .ilustracao__imagem {
        width: 50%;
    }
}

/* -----------EMOTES ANIMADOS------ */
.emotes-animados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.emotes-animados__items {
    /* max-width: 20%; */
    width: 100px;
    height: 100px;

}

.emotes__imagens-container-imagem{
    width: 100%;
}



.rodape {
    background: white;
    /* margin: 8rem; */
    margin-top: 0;
    color: var(--cor-texto);
    text-align: center;
    padding: 2rem;
    font-size: 0.8rem;

}


@media (max-width: 735px){

    .inner{
        margin-top: 0;
    }

    .cabecalho{
        display: flex;
        flex-direction: row;
    }

    .cabecalho+menu{
        display: flex;
        flex-direction: row;
    }
    .cabecalho__banner{
        margin-left:0;
        width: 70%;   
    }